/contracts/artifacts

/contracts/Dispute/artifacts
/contracts/DrivingLicense/artifacts
/contracts/GeekToken/artifacts
/contracts/ServiceRequest/artifacts
/contracts/User/artifacts

.deploys
.deps
.states

build

node_modules

scripts
test
tests
package-lock.json
yarn.lock